@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');

body{
    background-color: #1e293b;
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(119 29 29);
}
  
::-webkit-scrollbar-thumb {
    background:rgb(80 10 10);
    border-radius: 10px;
    border: 3px solid rgb(119 29 29);
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(60 10 10);
}

